h1{
    padding: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(238, 224, 25);
}

body{
    border: 0.5em outset pink;
    background-color: burlywood;
}

main{
    width: 200px;
    height: 200px;
    background-color: rgb(196, 202, 255);
}

signupbutton{
    background-color: brown;
}

loginbutton{
    background-color: blue;
}

